@font-face {
    font-family: 'PokefontClear';
    src: URL('VorganeDemo-rgXWy.ttf') format('truetype');
}

@font-face {
    font-family: 'PokefontSolid';
    src: URL('ProgressPersonalUse-EaJdz.ttf') format('truetype');
}